body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

#mood-picker {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.mood {
    font-size: 50px;
    margin: 10px;
    padding: 20px;
    border: none;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s;
}

.mood:hover {
    transform: scale(1.1);
}

#playlist {
    margin-top: 30px;
}
